@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

body {
  font-family: Ubuntu, sans-serif;
}

main {
  margin: 20px;
  text-align: center;
}

h1 {
  margin-top: 50px;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  margin-top: 50px;
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  padding-top: 50px;
  margin: 0 auto;
  font-size: 1.1rem;
  max-width: 800px;
  line-height: 1.4;
}