@import '../variables';

//  set height here
#navcontainer {
  --nav-height: 50px;
}

//  Block prevents content from starting behind the navbar
#navblock {
  height: var(--nav-height);
  width: 100%;
}

//  Contains either hamburger menu or navlinks
#navbar {
  left: 0;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 25;
}

#navfill {
  @include mix(background-color, --primary, $primary);
  box-shadow: 0 3px 3px -2px var(--shadow);
  height: var(--nav-height);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  @media only screen and (min-width: $min-width-mobile) {
    box-shadow: 0 10px 10px -10px var(--shadow);
  }  
}

